
 .blogmain{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     justify-content: center;
     align-items: center;
 }
 .blogimg{
     width: 100%;
 }

@media only screen and (max-width: 557px) {
 .blogmain{
     display: block;
 }
 .blogimg{
     width: 100%;
 }
}
