.footer-main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 90%;
    margin: auto;
    gap: 20px;
}
.Footer1 li{
    list-style-type:none;
}
.Footer1 li a{
    text-decoration: none;
    color: black;
    text-align: right;
}
.fa-solid{
    font-size: 20px;
    color: rgb(250, 66, 121);
  margin-right: 10px;
}

@media only screen and (max-width: 778px) {
.footer-main{
    grid-template-columns: repeat(1,1fr);
    align-items: center;
      justify-content: center;
    
}
}
