.footer-main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* justify-content: space-evenly; */
    /* align-items: center; */
    width: 90%;
    margin: auto;
}
.Footer1 li{
    list-style-type:none;
}
.Footer1 li a{
    text-decoration: none;
    color: black;
    text-align: right;
}
.fa-solid{
    font-size: 20px;
    color: rgb(250, 66, 121);
  margin-right: 10px;
}

@media screen and (max-width:900px) {
.footer-main{
    display: block;
   text-align: center;
}
}