
   .detailCard img{
       width: 350px;
       margin: auto;
   }
   .detailContent{
     width: 50%;
     margin: auto;
   }

@media only screen and (max-width:768px){
     .detailCard img{
       width: 100%;
   }
     .detailContent{
     width: 100%;
     margin: auto;
   }
 
 }