
   .detailCard{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     justify-content: center;
     align-items: center;
     gap: 20px;
     max-width:1080px ;
     
   }
   .detailCard img{
       width: 350px;
       margin: auto;
   }

@media only screen and (max-width:768px){
    .detailCard{
         display: block;
    }
  .detailCard img{
       width: 100%;
   }
     .detailContent{
     width: 100%;
     margin: auto;
   }
 
 }