.Works{
    width: 80%;
    margin: 200px auto;
}
.work-images{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap;
}
.work-images .cars-one{
    width: 26%;
    display: flex;
   flex-direction: column;
}
.cars-one img{
width: 100%;
}

.cars-three{
    position: relative;
    width: 44%;
}
.cars-three img{
    width: 100%;
}

.cars-one .img1{
    margin-bottom:20px ;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     display: flex;
    align-items: end;
    padding: 0px 20px;
    color: white;
   
}
.overlay:hover{
     background-color: rgba(0,0, 0,0.4);
       transition: 0.5s;
}